@import url(https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Nunito:ital,wght@1,600&display=swap);

$primary-font: 'Nunito', sans-serif;
$header-font: 'Domine', serif;
$primary-color: black;

body {
  font: 100%, $primary-font;
  background-image: url('./img/tlo.png');
}

%middle-location {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

%header-grey-box {
  border-radius: 20px;
  background-color: rgb(128, 128, 128);
  opacity: 0.6;
}

%div-container {
  border-radius: 20px;
  border: 2px, solid, #808080;
  background-color: white;
  width: 40em;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom:20px;
}

.button-inside-task-box{
  margin-bottom: 10px;
}


h1,
h2,
h3,
h4,
h5 {
  @extend %middle-location;
  @extend %header-grey-box;
  font: $header-font;
  color: $primary-color;
  width: 20em;
}

.div-container {
  @extend %div-container;
  @extend %middle-location;
}


