body {
  font: 100%, "Nunito", sans-serif;
  background-image: url("./img/tlo.png");
}

h1, h2, h3, h4, h5 {
  text-align: center;
  padding: 1%;
  margin-block: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

h1, h2, h3, h4, h5 {
  border-radius: 20px;
  background-color: gray;
  opacity: 0.6;
}

.div-container {
  border-radius: 20px;
  border: 2px, solid, #808080;
  background-color: white;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font: "Domine", serif;
}
